*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background:#f5f5f5;
}

.box{
    position:relative;
    width:800px;
    height:500px;
    overflow:hidden;
}

.b{
    width:100%;
    height:100%;
    object-fit:cover;

    transform:scaleY(0);
    transform-origin:bottom;
    animation:growUp 2s ease forwards,
    hideOldSchool .7s ease forwards;
    animation-delay: 0s,8s;
}
.f{
    position:absolute;
    bottom:20px;
    left:50%;
    width:250px;
    transform:translateX(-50%);
    opacity:0;

    animation:
        showStudent 1s ease forwards,
        hideStudent .4s ease forwards;

    animation-delay:2s,3.6s;
}
.c{
    position:absolute;
    bottom:20px;
    left:50%;
    width:250px;
    transform:translateX(-50%);
    opacity:0;

    animation:showImg3 .4s ease forwards;
    animation-delay:3.6s;
}
.al{
    position:absolute;
    top:0px;
    left:50%;
    width:400px;
    transform:translateX(-50%);
    opacity:0;

    animation:moveLeft 1.2s ease forwards;
    animation-delay:3s;
}

@keyframes growUp{
    from{
        transform:scaleY(0);
    }
    to{
        transform:scaleY(1);
    }
}

@keyframes showStudent{
    from{
        opacity:0;
        transform:translateX(-50%) translateY(30px);
    }
    to{
        opacity:1;
        transform:translateX(-50%) translateY(0);
    }
}

@keyframes hideStudent{
    from{
        opacity:1;
    }
    to{
        opacity:0;
    }
}

@keyframes showImg3{
    from{
        opacity:0;
        transform:translateX(-50%);
    }
    to{
        opacity:1;
        transform:translateX(-50%);
    }
}

@keyframes moveLeft{
    0%{
        opacity:0;
        transform:translateX(-50%);
    }

    15%{
        opacity:1;
        transform:translateX(-50%);
    }

    100%{
        opacity:1;
        transform:translateX(-100%);
    }
}
.av{
    position:absolute;
    top:30px;
    left:90px;
    height: 100px;
    width:200px;

    opacity:0;

    animation:moveToStudent 2s ease-in-out forwards;
    animation-delay:5s;
}

@keyframes moveToStudent{
    0%{
        opacity:0;
        transform:translate(0, 0);
    }

    20%{
        opacity:1;
        transform:translate(0, 30px);
    }

    100%{
        opacity:1;
        transform:translate(200px, 250px);
    }
}
.ms{
    position:absolute;
    left:0;
    bottom:0;

    width:100%;
    height:100%;
    object-fit:cover;

    transform:scaleY(0);
    transform-origin:bottom;
    opacity:0;

    animation:showModernSchool 1.8s ease forwards;
    animation-delay:8s;
}
@keyframes hideOldSchool{
    from{
        opacity:1;
    }
    to{
        opacity:0;
    }
}
@keyframes showModernSchool{
    from{
        opacity:0;
        transform:scaleY(0);
    }
    to{
        opacity:1;
        transform:scaleY(1);
    }
}
.hp{
    position:absolute;
    bottom: 0px;
    left:45%;
    width:500px;
    opacity:0;

    animation:
        showStudent 1s ease forwards;

    animation-delay:9s;
}
.paper{
    position:absolute;
    font-size:50px;
    opacity:0;
    z-index:10;
    user-select:none;
}


.p1{
    left:280px;
    bottom:80px;
    animation:paperFly1 1.5s ease-in-out forwards;
    animation-delay:7s;
}

.p2{
    left:340px;
    bottom:70px;
    animation:paperFly2 1.5s ease-in-out forwards;
    animation-delay:7.1s;
}

.p3{
    left:400px;
    bottom:90px;
    animation:paperFly3 1.5s ease-in-out forwards;
    animation-delay:7.2s;
}

.p4{
    left:470px;
    bottom:60px;
    animation:paperFly4 1.5s ease-in-out forwards;
    animation-delay:7.3s;
}

.p5{
    left:530px;
    bottom:80px;
    animation:paperFly5 1.5s ease-in-out forwards;
    animation-delay:7.4s;
}
@keyframes paperFly1{
    from{
        opacity:1;
        transform:translate(0,0) rotate(0deg);
    }
    to{
        opacity:0;
        transform:translate(180px,-200px) rotate(720deg) scale(.2);
    }
}

@keyframes paperFly2{
    from{
        opacity:1;
        transform:translate(0,0);
    }
    to{
        opacity:0;
        transform:translate(120px,-220px) rotate(-540deg) scale(.2);
    }
}

@keyframes paperFly3{
    from{
        opacity:1;
        transform:translate(0,0);
    }
    to{
        opacity:0;
        transform:translate(70px,-230px) rotate(900deg) scale(.2);
    }
}

@keyframes paperFly4{
    from{
        opacity:1;
        transform:translate(0,0);
    }
    to{
        opacity:0;
        transform:translate(-40px,-200px) rotate(-720deg) scale(.2);
    }
}

@keyframes paperFly5{
    from{
        opacity:1;
        transform:translate(0,0);
    }
    to{
        opacity:0;
        transform:translate(-120px,-220px) rotate(720deg) scale(.2);
    }
}